<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detail of Event</h1>
    <div>
        <h2> <%= events.title %> </h2>
        <p> <%= events.summary %> </p>
        <p> <%= events.host %> </p>
        <p> <%= events.location %> </p>
        <a href="/event/<%= events.id %>/edit">  
            <button> ✍🏻 </button>
            <p>Edit</p>
        </a>
        <a href="/event/<%= events.id %>/delete">
            <button> ❌  </button>
            <p>Delete</p>
        </a>
        <a href="/event/<%= events.id %>/like">
            <button> ❤️ </button>
            <p>Like</p>
        </a>
        <a href="/event/<%= events.id %>/dislike">
            <button> 💔  </button>
            <p>Dislike</p>
        </a>

    </div>

    <div>
        <h2>Add Remarks</h2>
        <!-- <% console.log(events.remarksId.length)%>
        <% events.remarksId.forEach((v)=>{ %>
        <%   console.log(v.content) %>
        <%    })%> -->
        <form action="/event/<%= events.id %>/remarks" method="POST">
            <textarea placeholder="Add Remarks" rows="5" name="content" id="comment_text" cols="60" ></textarea><br>
            <button type="submit">Add</button>
        </form>
    </div>
        <h2>All Remarks</h2>
    <% events.remarksId.forEach((remark)=>{ %>
    <% if ( events.remarksId.length === 0 ){ %>
        <h3>add remarks by above form</h3>
    <% } else %>
        <ul>
            <li>
                <span><%= remark.content %></span>
            </li>
            <ul>
                <li>
                    <span>
                        <a href="">
                            <button>edit</button>
                        </a>
                        <a href="">
                            <button>delete</button>
                        </a>
                        <a href="">
                            <button>like</button>
                        </a>
                        <a href="">
                            <button>dislike</button>
                        </a>
                    </span>
                </li>
            </ul>
        </ul>
    <% }) %>

</body>
</html>